/*******************
 * SEARCH RESULTS
 *******************/

b.match {
    background-color: #ecf0f1;
    /*background-color: #3498db;
    color: #fafafa;*/
    padding: 2px;
    color: #3498db;
    /*text-decoration: underline;*/
}

.description {
    line-height: 1.7em !important;
}

.search-form {
    display: inline-block;
    width: 100%;
}

/*******************
 * POPOVER
 *******************/

.activate-form {
    display: inline-block !important;
    float: right !important;
    font-weight: 300 !important;
}

