
/*******************
 * SEARCH RESULTS
 *******************/

.brand, b.match {
    padding: 2px;
    border-radius: 2px;
    background-color: #ecf0f1;
    color: #3498db;
}

.description {
    line-height: 1.7em !important;
    margin-top: calc(.6em - (1.7em - 1.4285em)) !important;
}

.search-form {
    display: inline-block;
    width: 100%;
}

/*******************
 * POPOVER
 *******************/

#templates {
    display: none;
}

.brand {
	display: inline-block;
	font-weight: 100;
    padding: 4px 8px 4px 8px;
}

.activate-form {
    display: inline-block !important;
	top: .5em;
    float: right !important;
    font-weight: 300 !important;
}

